name: Test

on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - master

jobs:
  build: # make sure build/ci work properly
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: npm ci
      - run: npm run all

  test: # make sure the action works on a clean machine without building
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  test-with-exclude: # make sure the action works on a clean machine without building
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          exclude: 'chore,ci,build'

  test-generating-new-changelog-file:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: npm ci
      - run: npm run all
      - uses: ./
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          generate: 'true'
      - run: cat ./CHANGELOG.md | grep -q '# auto-changelog' ; echo $?
      - run: cat ./CHANGELOG.md | grep -q '## Release - ' ; echo $?
      - run: cat ./CHANGELOG.md

  test-updating-existing-changelog-file:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: npm ci
      - run: npm run all
      - run: printf '# ChangeLog for Auto Changelog Github Action\n\n' | tee ./CHANGELOG.md
      - uses: ./
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          generate: 'true'
      - run: cat ./CHANGELOG.md | grep -q '# ChangeLog for Auto Changelog Github Action' ; echo $?
      - run: cat ./CHANGELOG.md | grep -q '## Release - ' ; echo $?
      - run: cat ./CHANGELOG.md

  test-committing-changelog-file:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: npm ci
      - run: npm run all
      - run: printf '# ChangeLog for Auto Changelog Github Action\n\n' | tee ./CHANGELOG.md
      - uses: ./
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          generate: 'true'
      - run: cat ./CHANGELOG.md | grep -q '# ChangeLog for Auto Changelog Github Action' ; echo $?
      - run: cat ./CHANGELOG.md | grep -q '## Release - ' ; echo $?
      - run: cat ./CHANGELOG.md
      - run: git rm ./CHANGELOG.md
